[Unit]
Description=LunarFlashes
After=

[Service]
Type=simple

ExecStartPre=/usr/bin/mosquitto_pub -t "/LOG" -m "Starting LunarFlashes"
ExecStart=runuser -l  %u -c '/usr/local/bin/LunarFlashes'
ExecStopPost=/usr/bin/mosquitto_pub -t "/LOG" -m "LunarFlashes Failed"
[Install]
WantedBy=default.target